<div class="col-sm-6">
  <div *ngIf="successMessage" class="alert alert-success"> 
    {{ successMessage }}
  </div>
  <h3>
    Create New Employee
  </h3>

  <form (ngSubmit)="createEmployee()" [formGroup]="createForm">

     <div class="form-group" [ngClass]="{'has-error': empNoError, 'has-success' : !empNoError }">
      Emp No
      <input type="text" name="emp_no" 
        class="form-control" formControlName="emp_no" />

        <span class="help-block" *ngIf="empNoError">
          {{ empNoError }}
        </span>
    </div>

    <div class="form-group">
      First Name
      <input type="text" name="first_name" 
        class="form-control"  formControlName="first_name" />
    </div>

    <div class="form-group">
      Last Name
      <input type="text" name="last_name" 
        class="form-control" formControlName="last_name" />
    </div>

    <div class="form-group">
      City
      <input type="text" name="city" 
        class="form-control" formControlName="city" />
    </div>

    <input type="submit" class="btn btn-info" />

  </form>
  
</div>